@media (max-width: 576px) {
    .card:not(:first-child) {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .card-body {
        line-height: 1.3rem;
    }

}



@media (min-width: 576px) {
    .grid-container {
        grid-template-areas:
            "header header"
            "aside main"
            "section section"
            "footer footer";
        grid-template-columns: 20% 1fr;
        grid-template-rows: 8% 1fr 5% 8%;
    }

    .titulo {
        padding-left: 3rem;
    }

    .logo {
        padding-right: 3rem;
    }

    .sub-container {
        display: grid;
        grid-template-columns: auto auto;
    }

    .dropdown {
        display: none;
    }

    .lista {
        display: block;
        display: flex;
        height: 100%;
        align-items: start;
        justify-content: start;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    li {
        line-height: 5rem;
        font-size: large;
    }

    .main {
        gap: 0.1rem;
    }

    .card {
        margin: 0.2rem;
        gap: 0.1rem;
        width: 100%;
        height: auto;
        border-radius: 0px;
        overflow: hidden;
    }

    .card img {
        width: 100%;
        min-height: 62%;
    }

    .card-body {
        line-height: 0.1rem;
    }

    .filtros {
        width: 50%;
        text-align: center;
    }

    .mapa {
        width: 50%;
        text-align: center;
    }
}




@media (min-width: 992px) {

    .grid-container {
        grid-template-rows: 10% 1fr 5% 10%;
    }

    .sub-container {
        grid-template-columns: auto auto auto;
    }

    .titulo {
        padding-left: 3rem;
    }

    .logo {
        padding-right: 3rem;
    }

    .logo img {
        width: 6vw;
        height: 6vw;
    }

    .dropdown {
        display: none;
    }

    .lista {
        display: block;
        display: flex;
        height: 100%;
        align-items: start;
        justify-content: start;
    }

    ul {
        list-style-type: none;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    li {
        line-height: 5rem;
        font-size: large;
    }

    .card img {
        width: 100%;
        max-height: 62%;
    }

    .card-body {
        line-height: 0.7rem;
    }
}